USE [master]
GO
/****** Object:  Database [Formula1]    Script Date: 20/04/2023 18:05:15 ******/
CREATE DATABASE [Formula1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Formula1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Formula1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Formula1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Formula1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Formula1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Formula1]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 20/04/2023 18:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[NOMBRE] [varchar](30) NOT NULL,
	[EMAIL] [varchar](30) NULL,
	[CONTRASEÑA] [varchar](70) NULL,
	[TOKEN] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
